<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.name}}'
			placeholder='Nome completo'
			name='name'
		/>
		<label for='floatingInput'>Nome Completo</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.cpf}}'
			placeholder='CPF'
			name='cpf'
		/>
		<label for='floatingInput'>CPF</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.department}}'
			placeholder='Setor'
			name='department'
		/>
		<label for='floatingInput'>Setor</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='text'
			class='form-control'
			id='floatingInput'
			value='{{this.phone}}'
			placeholder='Telefone'
			name='phone'
		/>
		<label for='floatingInput'>Telefone</label>
	</div>
</div>
<div class='col-6'>
	<div class='form-floating mb-3'>
		<input
			type='email'
			class='form-control'
			id='floatingInput'
			value='{{this.email}}'
			placeholder='Email@email.com'
			name='email'
		/>
		<label for='floatingInput'>Email@email.com</label>
	</div>
</div>